 body {
 	font-family: 'Lato', sans-serif;
 }

 .text {
 	text-align: center;
 }

 .log {
 	margin-top: 4%;
 }
 
 .logo{
  height: 15vh;
 }

 .bg {
 	width: 100%;
 	height: 405px;
 	margin-top: 1%;
 }

 .forplaces {
 	font-weight: 5;
 	color: #7d97ad;
 	font-size: 3em;
 }

 .forcontainer {
 	padding-left: 13%;
 	margin-bottom: 3%;
 }
 
 .header {
 	font-size: 5em;
 	font-weight: 100;
 	color: black;
 }

 .smallheader {
 	font-size:2em;
 	color: black;
 }

 .line {
 	height: 4px;
 	background-color: #7d97ad;
 }

.headermarg {
   margin-top: 3%;
}

.threeimg {
	margin-top: 3.5%;
}

.link {
   padding-top: -20px;
   font-size: 16px;
}

 @media screen and (max-width: 360px){
 	.header {
 		font-size: 3em;
 	}
 	
 	.smallheader {
      font-size: 1.2em;
 	}

 	.logo {
 		height: 12vh;
 	}

 	.link {
 		padding-bottom: 50px;
 	}

 	}

 	@media screen and (max-width: 768px) and (min-width: 361px) {
 	.header {
 		font-size: 6.5em;
 	}
 	
 	.smallheader {
      font-size: 2.5em;
 	}

 	.logo {
 		height: 12vh;
 	}

 	.forplaces {
 		font-size: 6em;
 	}

 	.threeimg {
 		font-size: 5em;
 	}

 	.link {
 		font-size: 2em;
 		padding-bottom: 70px;
 	}

 	}